<style>
  nav a.active {
    color: red;
  }

  nav a {
    text-decoration: none;
    padding: 10px;
  }

  nav {
    background-color: black;
    padding: 10px;
  }

</style>

<nav>
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
  >Contador</a>

  <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>
  <a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">Dragonball</a>
  <a [routerLink]="['/dragonball-super']" [routerLinkActive]="'active'">Dragonball Super</a>
</nav>
